<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="styles/account_style.css">
</head>
<body>
    <main>
        <div id="voltar_login"> <a href="/"> Login </a> </div>
        <div class="container">
            <h2> Create Account</h2>

            <form>
                <label for="name">Nome Completo</label>
                <input id="name"  type="text">

                <label for="email">Email</label>
                <input id="email" type="text" >

                <label for="phone">Informe seu telefone</label>
                <input id="phone"  type="text">
                <button type="submit">Cadastrar</button>
                
            </form>
        </div>
    </main>
    
</body>
</html>